{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Nouveau titre{% endblock %}

{% block body %}

    <h2>Home avec Twig !</h2>
    {#Ceci est un commentaire
    sur plusieurs lignes#}

    {#Creation d'une variable#}
    {%set maVariable="toto"%}
    <p>Affichage de la variable maVariable {{maVariable}}</p>

    {#Création d'un tableau on part de zéro#}
    {%set monTableau=["Slipnot","Ghost","Epica","Marduk","Ultra Vomit"]%}
    <h3>{{monTableau[2]}}</h3>

    {#Boucle sur le tableau#}
    {%set monTableau2=[]%}
    <ul>
    {%for groupe in monTableau%}
        <li>{{groupe}}</li>
    {%else%}
        <li>Pour l'instant il n'y a pas de groupe</li>
    {%endfor%}
    </ul>

    {#Creation d'un objet livre#}
    {%
        set livre = {
        'title' : 'Harry Potter',
        'year' : 1997,
        'Author': 'J K Rolling'
        }
    %}

    <h3>{{livre.title}}</h3>
    <dl>
        {%for cle,val in livre %}
                <dt>{{cle}}</dt>
                <dd>{{val}}</dd>
        {%endfor%}
    </dl>

    {% set products=["poutine","sirop d'érable"]%}
    <ul>
        {%for product in products%}
            {{loop.first}}
            {{loop.length}}
            <li>{{loop.index}} - {{product}}</li>
        {%endfor%}
    </ul>

    {#Teste de la taille du tableau#}
    <p>Taille du Tableau = {{products|length}}</p>
    {% if products|length > 100 %}
        <p>Trop de produits</p>
    {%else%}
        <p>Pas assez de produits</p>
    {%endif%}

    <p>
    {% for i in 0..10 %}
           * {{i}}
    {%endfor%}
    </p>
    <p>
    {%for letter in 'a'..'z' %}
            *{{letter}}
    {%endfor%}
    </p>

    <h3>Les filtres TWIG</h3>
    {#Récupération de la date du jour#}
    <p>{{"now"|date("d-m-Y")}}</p>

    {#Ajout de 6 semaines à la date du jour#}
    <p>{{"+6 weeks"|date("d-m-Y")}}</p>

    {#Syntaxe markdown#}
    <p>{{"**coucou**"|markdown_to_html}}</p>
    <p>{{"_coucou_"|markdown_to_html}}</p>
{%endblock%}