{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Nouveau titre{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>L'héritage avec twig c'es top !</h2>
    <h3>Affichage des variables passées depuis mon Controleur</h3>
    <p>Bonjour {{username}}</p>
    <div>{{productCount}} produits disponibles !</div>

    <p>Test attaque HTML par defaut affiche sans interpreter: {{attaqueHTML}}</p>
    <p>Test attaque HTML avec filtre raw qui execute le code HTML: {{attaqueHTML|raw}}</p>
    <p>Test attaque HTML avec filtre striptags qui enleve les balises : {{attaqueHTML|striptags}}</p>

    <p>Test attaque JS  : {{attaqueJS}}</p>
    <p>Test attaque JS avec filtre raw : {{attaqueJS|raw}}</p>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symfonyWebtd/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symfonyWebtd/templates/main/list.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
