{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Book - List{% endblock %}

{% block body %}



    <h1>Liste des livres</h1>
    <ul>
    {%for book in listBooks%}
        <li>{{book.id}} - {{book.title}} - {{book.pages}} - {{book.author}} - {{book.editeur}} </li>
    {%endfor%}
    </ul>

{% endblock %}
