{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un produit{% endblock %}

{% block body %}
    <h1>Création d'un produit</h1>
    {# 1ère forme #}
    {# {{form(productForm)}} #}

    {# 2ème forme #}
{#    {{ form_start(productForm) }}#}
{#    {{ form_widget(productForm) }}#}
{#    <button>Enregistrer</button>#}
{#    {{ form_end(productForm) }}#}

    {# forme éclatée de ouf #}
    {{ form_start(productForm) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    <button>Enregistrer</button>
    {{ form_end(productForm) }}

{% endblock %}
