{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Détail d'un produit{% endblock %}

{% block body %}
    <h1>Détail d'un produit</h1>
   <ul>
       <li>{{product.name}}</li>
       <li>{{product.price}}</li>
       {#<li>{{product.dateCreated|format('d-m-Y H:i:s')}}</li>#}

           <ul>
               {%for comment in product.comments%}
                   <li>{{comment.description}}</li>
                   <li>{{comment.auteur}}</li>
               {%endfor%}
           </ul>

   </ul>
    <a href="{{path("product_supprimer",{"id":product.id})}}">Supprimer le produit</a>
{% endblock %}
