{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h2>Produits</h2>

    {% for product in products %}
        <p><a href="{{path('product_detail',{'id':product.id})}}">{{product.name}} : {{product.price}}</a></p>
    {% endfor %}

{% endblock %}
