{% extends 'base.html.twig' %}

{% block title %}Serie - Création{% endblock %}

{% block body %}
<div >
    <h1>Création de la série</h1>
    {{serie}}
    <ul>
    {%for serie in listSerie%}
        <li>{{serie}}</li>
    {%endfor%}
    </ul>
</div>
{% endblock %}
