<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<nav>
    <ul>
        <li>
            <a href="{{path('product_list')}}" title="Go Back Home">Product</a>
        </li>
        <li>
            <a href="{{path('product_testAddProductWithComment')}}" title="Ajout un produit avec commentaire">testAddProductWithComment</a>
        </li>
        {% if app.user%}
            <li>
                <a href="{{path('app_logout')}}" title="Se déconnecter">Se déconnecter</a>
            </li>
        {%else%}
            <li>
                <a href="{{path('login')}}" title="Se connecter">Se connecter</a>
            </li>
            <li>
                <a href="{{path('app_register')}}" title="S'enregistrer">S'enregistrer</a>
            </li>
        {%endif%}
    </ul>

</nav>
{% if app.user%}
<hr>
<h2>Bienvenue {{app.user.userIdentifier}}</h2>
<hr>
{% endif %}
{% block body %}{% endblock %}
</body>
</html>
